{% extends 'account/base.html' %}
    {%  block title %} Login {% endblock %}

    {% block form %}
        <h2>Connexion </h2>
         {% for message in messages %}
           <p class="error"> {{ message }}</p>
         {% endfor %}
        <form method="POST" action=""> {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username">

            <label for="password">Password</label>
            <input type="password" name="password">

            <p>Vous n'avez pas encore  de compte ? <a href="{% url 'register' %}"> S'Inscrire</a></p>

            <button type="submit" class="submit" >Envoyer</button>
        </form>
    {% endblock %}
