{% extends 'tickets/base.html' %}

{% block link %}
<link rel="stylesheet" href="../../static/tickets/style.css">

{% endblock %}

{% block content %}
<div class="well all welcome"  style="min-height: 45vh" >
    <p>Votre achat a bien été éffectuez ! Veuillez vérifiez votre boîte mail</p>
<br>
<form style="display: flex ; justify-content: center" id="submit-form" action="" method="post">
    {% csrf_token %}

    <input type="submit" value="OK">
</form>
    </div>

<div id="confirmation-message" style="display: none;">
    Opération prise en compte. Redirection dans 2 secondes...
</div>

<script>
document.getElementById("submit-form").addEventListener("submit", function(event) {
    event.preventDefault();
    document.getElementById("submit-form").style.display = "none";
    document.querySelector('p').style.display = 'none';
    document.getElementById("confirmation-message").style.display = "block";
    setTimeout(function() {
        window.location.href = "{% url 'home' %}";
    }, 2000);
});
</script>
{% endblock %}